body
{
    background-color:crimson;
}
nav{
   display: inline-block;
}
li a {
    background-color: mintcream;
    padding: 20px;
    margin: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    display: inline-block;
}
li b {
    background-color: mintcream;
    padding: 20px;
    margin: 25px;
    text-align: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    display: inline-block;
}

#box1 {
    margin: 50px;
    width: 1080px;
    height: 400px;
    background-color: mintcream;
    display:block;
}

#box2 {
    margin: 50px;
    width: 1080px;
    height: 150px;
    background-color: mintcream;
    display: block;
}

#box3 {
    margin: 50px;
    width: 1080px;
    height: 400px;
    background-color: mintcream;
    display: block;
}
#box4 {
    margin: 50px;
    width: 1080px;
    height: 400px;
    background-color: mintcream;
    display: block;
}
#box5 {
    margin: 50px;
    width: 1080px;
    height: 400px;
    background-color: mintcream;
    display: block;
}
#box6 {
    object-position:200px;
    width: 1080px;
    height: 400px;
    background-color: mintcream;
    display: block;
}
#pfp {
    margin: 150px;
    width: 450px;
    height: 475px;
    background-color: mintcream;
    display: block;
    padding: 10px;
    padding-right:10px;
    padding-bottom:-15px;
}
